* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

header {
  height: 500px;
  width: 100%;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 25px;
}

.gallery .picture-1, .gallery .picture-2, .gallery .picture-3, .gallery .picture-4, .gallery .picture-5, .gallery .picture-6 {
  display: flex;
  justify-content: center;
  position: relative;
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5vw;
}
.gallery .picture-1 .trip-icon, .gallery .picture-2 .trip-icon, .gallery .picture-3 .trip-icon, .gallery .picture-4 .trip-icon, .gallery .picture-5 .trip-icon, .gallery .picture-6 .trip-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  align-self: center;
  display: flex;
  justify-content: center;
}
.gallery .picture-1 .trip-icon img, .gallery .picture-2 .trip-icon img, .gallery .picture-3 .trip-icon img, .gallery .picture-4 .trip-icon img, .gallery .picture-5 .trip-icon img, .gallery .picture-6 .trip-icon img {
  height: 30px;
  align-self: center;
}
.gallery .picture-1 .text-separator, .gallery .picture-2 .text-separator, .gallery .picture-3 .text-separator, .gallery .picture-4 .text-separator, .gallery .picture-5 .text-separator, .gallery .picture-6 .text-separator {
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}
.gallery .picture-1 .text-separator span, .gallery .picture-2 .text-separator span, .gallery .picture-3 .text-separator span, .gallery .picture-4 .text-separator span, .gallery .picture-5 .text-separator span, .gallery .picture-6 .text-separator span {
  display: inline-block;
  width: 40px;
  height: 5px;
  background-color: #DC7725;
}
.gallery .picture-1 h2, .gallery .picture-2 h2, .gallery .picture-3 h2, .gallery .picture-4 h2, .gallery .picture-5 h2, .gallery .picture-6 h2 {
  font-size: 21px;
  color: white;
  text-shadow: 0 0 1px black;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.trip-text {
  position: absolute;
  left: 40px;
  bottom: 45px;
}

.gallery {
  overflow-y: auto;
  background-color: #D1D1C9;
  padding: 5vw;
}
.gallery .picture-1 {
  background-image: url("../img/home-raft.jpg");
}
.gallery .picture-2 {
  background-image: url("../img/home-basecamp.jpg");
}
.gallery .picture-3 {
  background-image: url("../img/home-backpacking.jpg");
}
.gallery .picture-4 {
  background-image: url("../img/home-canoe.jpg");
}
.gallery .picture-5 {
  background-image: url("../img/home-photo.jpg");
}
.gallery .picture-6 {
  background-image: url("../img/home-custom.jpg");
  margin-bottom: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav .brand img:nth-child(1) {
  height: 40px;
  width: 40px;
}
nav .brand img:nth-child(2) {
  height: 40px;
  width: 140px;
}
nav .nav-bar .hamburger {
  margin-top: 5px;
  height: 20px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
nav .nav-bar .hamburger span {
  display: block;
  height: 2px;
  width: 30px;
  background-color: white;
}

.hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-content: center;
  color: white;
  font-family: "Fjalla One", sans-serif;
  margin-top: 45px;
}
.hero-text > img:first-child {
  width: 80px;
  align-self: center;
}
.hero-text h2 {
  align-self: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 4px;
}
.hero-text .wordmark {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  padding-top: 10px;
}
.hero-text .wordmark img {
  height: 35px;
}
.hero-text .divider {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 50px;
  width: 250px;
}
.hero-text .divider span {
  display: inline-block;
  height: 5px;
  width: 100%;
  background-color: white;
}
.hero-text .play-btn {
  align-self: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text .play-btn img {
  margin-left: 15px;
  height: 40px;
  width: 33.3px;
}

/*# sourceMappingURL=main.css.map */
