nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .brand {

    img:nth-child(1) {
      @include size(40px 40px);

    }
    img:nth-child(2) {
      @include size(140px 40px);
    }
  }


  .nav-bar {


    .hamburger {
      margin-top: 5px;
      @include size(40px 20px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      span {
        display: block;
        @include size(30px 2px);
        background-color: white;
      }
    }
  }
}
